name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  msrv:
    name: MSRV Check (1.70)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
            toolchain: 1.70.0
      - name: Cargo check (MSRV)
        run: cargo check --workspace

  test:
    name: Tests (stable)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy
      - name: Cargo fmt
        run: cargo fmt --all -- --check
      - name: Cargo clippy
        run: cargo clippy --all-targets --all-features -- -D warnings
      - name: Cargo test
        run: cargo test --workspace --all-features

